
body{
  background-color:rgb(124, 122, 122);
}

.main{
  max-width: 140rem;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 2.6rem ;
}

.card{
  padding: 2em;
  border: 1px solid #888;
}
.products{
  display: flex;
  
}